<div style="width:90%;float:none;margin:auto;">
<p style="padding-top:45px" id="notice"><%= notice %></p>

<h1 style="text-align:center;">Orders</h1>
<br>

<div class="order-sorts">
  <h4 class="sort-by newest"><a href="?">Newest</a></h4>
  <h4 class="sort-by unpaid"><a href="?sort_by=unpaid">Unpaid</a></h4>
  <h4 class="sort-by undelivered"><a href="?sort_by=undelivered">Undelivered</a></h4>
  <h4 class="sort-by featured"><a href="?sort_by=featured">Featured</a></h4>
</div>

<table class="orders-table" style="float:none;margin:auto;">
  <thead>
    <tr>
      <th>Image</th>
      <th>ID</th>
      <th>Order Date</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Details</th>
      <th>Product</th>
      <th>Price</th>
      <th>Method</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><img style="border-radius:5px;" src='<%= order.photo(:thumb) %>'></td>
        <td><%= order['id'] %></td>
        <td><%= order['created_at'].strftime('%A, %B %d') %></td>
        <td><%= order['name'] %></td>
        <td><%= order['phone'] %></td>
        <td><%= order['email'] %></td>
        <td><%= order['details'] %></td>
        <td><%= order['product'] %></td>
        <td><%= order['price'] %></td>
        <td><%= order['method'] %></td>
        <td>
          <% if !order.paid %>
            <button class="paid order-btn" onclick="setAsPaid(<%= order.id %>)">Set as Paid</button>
          <% end %>
        </td>
        <td>
          <% if !order.delivered %>
            <button class="deliverd order-btn" onclick="setAsDelivered(<%= order.id %>)">Set as Delivered</button>
          <% end %>
        </td>
        <td>
          <% if !order.featured %>
            <button class="deliverd featured-btn" onclick="setAsFeatured(<%= order.id %>)">Set as Featured</button>
          <% else %>
            <button class="deliverd unfeatured-btn" onclick="setAsUnfeatured(<%= order.id %>)">Set as Unfeatured</button>
          <% end %>
        </td>
        <td>
          <button class="show-btn order-btn" onclick="showOrder(<%= order.id %>)">Show Order</button>
        </td>
        <td>
          <button class="cancel-btn order-btn">
            <%= link_to 'Cancel Order', order, class: 'order-btn', method: :delete, data: { confirm: "Are you sure you want to cancel #{order.name}'s #{order.product} order?" } %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<script>
  var setAsPaid = function(id) {
    $.ajax({
      type: "PATCH",
      url: '/orders/' + id,
      data: {order: {paid: true} },
      dataType: "text",
      success: function(resultData){
        window.location.href = '/orders';
      }
    });
  }

  var setAsDelivered = function(id) {
    $.ajax({
      type: "PATCH",
      url: '/orders/' + id,
      data: {order: {delivered: true} },
      dataType: "text",
      success: function(resultData){
        window.location.href = '/orders';
      }
    });
  }

  var setAsFeatured = function(id) {
    $.ajax({
      type: "PATCH",
      url: '/orders/' + id,
      data: {order: {featured: true} },
      dataType: "text",
      success: function(resultData){
        window.location.href = '/orders';
      }
    });
  }

  var setAsUnfeatured = function(id) {
    $.ajax({
      type: "PATCH",
      url: '/orders/' + id,
      data: {order: {featured: false} },
      dataType: "text",
      success: function(resultData){
        window.location.href = '/orders';
      }
    });
  }

  var showOrder = function(id) {
    window.location.href = '/orders/' + id;
  }

  var highlight = function() {
    $('.sort-by').removeClass('selected');
    if(window.location.href.indexOf('unpaid') >= 0) {
      $('.unpaid').addClass('sorted-by');
    }
    else if(window.location.href.indexOf('undelivered') >= 0) {
      $('.undelivered').addClass('sorted-by');
    }
    else if(window.location.href.indexOf('featured') >= 0) {
      $('.featured').addClass('sorted-by');
    }
    else {
      $('.newest').addClass('sorted-by');
    }
  }

  highlight();
</script>
